/* TODO: Add sitewide styles */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: cadetblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
